{% extends 'base.html' %}

{% block title %}Просмотр {{video.title}}{% endblock %}

{% block content %}
	

	{% if video %}
	<div class="card">
		<div class="card-body">
			<video width="500"controls class="card-img-top">
			<source src="{{video.video.url}}" type="video/mp4">
			</video>
			<h5  class="card-title"> {{video.title}} </h5>
		</div>

		<div class="card-body">
			<h5 class="mb-1">Статус {{video.status}}</h5>
			<h5 class="mb-1">Прогресс {{video.progress}}%</h5>
            <h5 class="mb-1">Результат {{video.num_faces}}</h5>
        </div>
        
        <div class="card-body">
    		<button type="button" class="btn btn-primary">Пауза</button>
    		<button type="button" class="btn btn-primary">Отмена</button>
 		 </div>
	</div>
	{% else %}
		Видео не найдено
	{% endif %}

{% endblock %}

